*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}


body {
   font-size: 100%;
   font-family: Roboto;
   letter-spacing: 0.5px;

}
.posts-container{
   width: 100%;
   height: 100%;
   max-width: 1000px;
   margin: 2rem auto;
}
.profile-card{
   height: 100%;
   width: 100%;
   box-shadow: 0px 0px 10px 2px rgba(17, 1, 1, 0.466);
}
.profile-card img {
   height: 100%;
   width: 100%;
   max-height: 300px;
}
.profile-card a {
   display: inline-block;
   margin-top: 20px;
   color: red;
   font-size: 20px;
   padding: 10px;
   border: 2px solid black;
   cursor: pointer;
   text-transform: capitalize;
   letter-spacing: 0.5px;
   text-decoration: none;
}
.profile-card .button{
   margin-left: 10px;
   margin-bottom: 5px;
   font-weight: bold;
}
.profile-card .title{
   margin-top: 10px;
   margin-bottom: 10px;
   padding-bottom: 5px;
   padding-left: 8px;
}
@media screen and (min-width: 992px) {
   .posts-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
   }
}
.drink-container{
   text-align: center;
   align-items: center;
}